version: 2.1
orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  build:
    jobs:
    - architect/go-build:
        name: go-build-mcp-kubernetes
        binary: mcp-kubernetes
        filters:
            # Trigger the job also on git tag.
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build-mcp-kubernetes
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main

    - architect/push-to-app-catalog:
        executor: app-build-suite
        context: architect
        name: push-mcp-kubernetes-to-giantswarm-app-catalog
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: mcp-kubernetes
        requires:
        - push-to-registries
        persist_chart_archive: true
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main

    - architect/run-tests-with-ats:
        name: execute chart tests
        filters:
          branches:
            ignore:
            - main
        requires:
        - push-mcp-kubernetes-to-giantswarm-app-catalog
