apiVersion: v1
kind: Service
metadata:
  name: {{ include "mcp-kubernetes.fullname" . }}
  labels:
    {{- include "mcp-kubernetes.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if and .Values.mcpKubernetes.instrumentation.enabled .Values.mcpKubernetes.metrics.enabled }}
    - port: {{ .Values.mcpKubernetes.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "mcp-kubernetes.selectorLabels" . | nindent 4 }}
